/* Common definitions */
body{font-family: Arial;}
*{box-sizing: border-box;}

#tab-menu{display: flex;flex-direction: column;}

/* Definitions for tab menu */
#tab-contents{position: relative;}
#tab-contents ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#tab-contents li{
    display: inline-block;
    padding: 5px 15px 5px 15px;
    float: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#tab-contents a{
    font-weight: bold;
    color: #868686;
    text-decoration: none;
    transition: 0.5s;
}
#tab-contents a:hover{color: #4a4a4a;text-decoration: none;}

/* Definitions for tabs contents */
div[id*="tab-item"]{
    display: none;
    width: 400px;
    height: 200px;
    margin: 28px 0 0 0;
    padding: 0 10px;
    text-align: justify;
    box-shadow: 5px 5px 5px #CCCCCC;
    clear: both;
    position: absolute;
}
div[id*="tab-item"]:target{display: block;}

/* Tab 1 */
#tab-item-1{display: block;}
#tab1, #tab-item-1{background: #fff2b5;}

/* Tab 2 */
#tab2, #tab-item-2{background: #c7efc4;}

/* Tab 3 */
#tab3, #tab-item-3{background: #e1d7ed}